.center {
    display: block;
    margin: 0 auto;
}

.logo
{
    height: 37px;
}

.about
{
    position: center;
}

@media screen and (min-width: 320px) and (max-width: 376px){
    .logo
    {
        height: 10vw;
    }
}

table {
    margin-left: 3cm;
    margin-right: 3cm;   
}
h1 {
    margin-left: 3cm;
    margin-right: 3cm;    
}

::-webkit-scrollbar { 
    display: none; 
}

th, td {
    padding: 15px;
}