h1 {
    text-align: center;  
}

.information {
    align-content: center;

}

.indent {
    text-indent: 5em;
}

.logo
{
    height: 37px;
}

@media screen and (min-width: 320px) and (max-width: 376px){
    .logo
    {
        height: 10vw;
    }
}

::-webkit-scrollbar { 
    display: none; 
}

th, td {
    padding: 20px;
}